
  <div class="head" >
    <div class="left" >
      <button (click)="onPrevious()">
        <img src="../assets/images/arrow-left.png" height="20px" width="20px" alt="">
      </button>
    </div>
    <div class="center">

    </div>
    <div class="right">
      <button (click)="onNext()">
        <img src="../assets/images/arrow-right.png" height="20px" width="20px" alt="">
      </button>
    </div>
  </div>
  
  <div class="body">
    <div class="wrapper">
      <div class="tile" *ngFor="let pokemon of pokemons.results">
          <a class = "routerClass" routerLink = "/pokemon-detail">
            <button class = "detail" (click)= "setCurrentPokemon(pokemon)"> 
              <strong>{{pokemon.name | uppercase}}</strong>
            </button>
          </a> 
      </div>
    </div>
  </div>
