html {
  height: inherit;
  width: inherit;
  /* background: whitesmoke; */
  background-image: url(/assets/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: inherit;
  /* background: rgb(146, 140, 140); */

  display: flex;
  flex-direction: column;
  
}
body > div {
  flex: 1;
}